/* global rules */
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, .wrapper
{
    width: 100vw;
    height: 100vh;
}

body { overflow-y: overlay; }

/* backbone */

/* flex */
.wrapper, #wrapper-gallery
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;
}

/* block typesetting */
.header, .bar, .box { text-align: center; }

/* block colors */
.header, .box { background-color: #000; }
.bar { background-color: #fff; }

/* embeds & images */
img, iframe { border: 1px solid #fff; }

/* hover effects */
.extlink { opacity: 1; }
.extlink:hover, .extlink:active { opacity: 0.75; }

/* unique element properties */
.gallery-img 
{ 
    height: 15%;
    width: 15%; 
}

#discordimg
{
    border: 0;
    height: 3em;
}

#discordiframe
{
    height: 70%;
    width: 70%;
}

/* typograpy */

/* fonts, font effects & kerning */
h1, h2, .h2a
{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
}

.pa
{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: left;
}

/* font sizes */
h1 { font-size: 4em; }
h2, .h2a { font-size: 1.25em; }
.pa { font-size: 1em; }

/* font colors */
h1, .h2a, .pa { color: #fff; }
h2 { color: #000; }

/* responsive design */

/* responsive - mobile */
@media only screen and (max-width: 600px)
{
    
.header, .bar, .box
{
    width: 100vw;
    padding: 2.5%;
    height: auto;
}
    
.header { padding: 0; }
audio, iframe { width: 80vw; }
#wrapper-gallery { justify-content: space-around; }
.gallery-img { width: 100px; }
#discordiframecontainer { height: 50vh; }
#discordiframe { height: 80%; }

}

/* responsive design - desktop */
@media only screen and (min-width: 600px)
{
    
.header
{
    width: 100vw;
    height: 20vh;
    line-height: 20vh;
}

.bar
{
    width: 50vw;
    height: 20vh;
    line-height: 10vh;
}
    
.box
{
    width: 50vw;
    height: 60vh;
    padding: 2.5%;
}
    
}