/* global rules */

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    overflow-x: hidden;
    overflow-y: overlay;
    width: 100vw;
    height: 100vh;
}

/* flex framework */

.wrapper
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
}

.header, .bar, .box
{
    text-align: center;
}

/* block colors */

.header, .box
{
    background-color: #000;
}

.bar
{
    background-color: #fff;

}

/* embeds & images */

img, iframe
{
    border: 1px solid #fff;
}

iframe
{
}

.extlink
{
    border: 0;
    opacity: 1;
}

.extlink:hover, .extlink:active
{
    opacity: 0.75;
}

/* typograpy */

h1
{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: 1px;
    color: #fff;
}

h2
{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 1.25em;
    letter-spacing: 1px;
    color: #000;
}

.h2a
{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 1.25em;
    letter-spacing: 1px;
    color: #fff;
}

.pa
{
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
}

/* responsive design */

@media only screen and (max-width: 600px)
{
.header, .bar, .box
{
    width: 100vw;
    height: auto;
}
.bar, .box
{
    box-sizing: border-box;
    padding: 2%;
}
audio, iframe
{
    width: 80vw;
}
}

@media only screen and (min-width: 600px)
{
.header
{
    width: 100vw;
    height: 20vh;
    line-height: 20vh;
}

.bar
{
    white-space: nowrap;
    width: 50vw;
    height: 20vh;
    line-height: 10vh;
}
    
.box
{
    width: 50vw;
    height: 60vh;
    padding: 2.5%;
}
}